<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestionCentroDocente"
        tools:targetApi="31">
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".AcercaDe"
            android:exported="false" />
        <activity
            android:name=".PantallaEnviarMensajeJE"
            android:exported="false" />
        <activity
            android:name=".PantallaGestionarTareasAdminJE"
            android:exported="false" />
        <activity
            android:name=".PantallaGestionGuardias"
            android:exported="false" />
        <activity
            android:name=".PantallaEnviarAvisos"
            android:exported="false" />
        <activity
            android:name=".PantallaCalendarioReuniones"
            android:exported="false" />
        <activity
            android:name=".PantallaGestionarAusencias"
            android:exported="false" />
        <activity
            android:name=".PantallaGestionarTareasAdmin"
            android:exported="false" />
        <activity
            android:name=".PantallaHorario"
            android:exported="false" />
        <activity
            android:name=".PantallaEditarPerfil"
            android:exported="false" />
        <activity
            android:name=".PantallaGestionarPermisos"
            android:exported="false" />
        <activity
            android:name=".PantallaNotificaciones"
            android:exported="false" />
        <activity
            android:name=".PantallaRegistro"
            android:exported="false" />
        <activity
            android:name=".PantallaPrincipal"
            android:exported="false" />
        <activity
            android:name=".MenuInicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>