<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestionCentroDocente"
        tools:targetApi="31">
        <activity
            android:name=".pantallas.PantallaFijarReunion"
            android:exported="false"
            android:parentActivityName=".pantallas.AcercaDe"/>
        <activity
            android:name=".pantallas.Perfil"
            android:exported="false"
            android:parentActivityName=".pantallas.AcercaDe"/>
        <activity
            android:name=".pantallas.AcercaDe"
            android:exported="false"
            android:parentActivityName=".pantallas.AcercaDe"/>
        <activity
            android:name=".pantallas.PantallaEnviarMensajeJE"
            android:exported="false"
            android:parentActivityName=".pantallas.AcercaDe"/>
        <activity
            android:name=".pantallas.PantallaGestionarTareasAdminJE"
            android:exported="false"
            android:parentActivityName=".pantallas.AcercaDe"/>
        <activity
            android:name=".pantallas.PantallaGestionGuardias"
            android:exported="false"
            android:parentActivityName=".pantallas.AcercaDe"/>
        <activity
            android:name=".pantallas.PantallaEnviarAvisos"
            android:exported="false"
            android:parentActivityName=".pantallas.AcercaDe"/>
        <activity
            android:name=".pantallas.PantallaCalendarioReuniones"
            android:exported="false"
            android:parentActivityName=".pantallas.AcercaDe"/>
        <activity
            android:name=".pantallas.PantallaGestionarAusencias"
            android:exported="false"
            android:parentActivityName=".pantallas.AcercaDe"/>
        <activity
            android:name=".pantallas.PantallaGestionarTareasAdmin"
            android:exported="false"
            android:parentActivityName=".pantallas.AcercaDe"/>
        <activity
            android:name=".pantallas.PantallaHorario"
            android:exported="false"
            android:parentActivityName=".pantallas.AcercaDe"/>
        <activity
            android:name=".pantallas.PantallaEditarPerfil"
            android:exported="false"
            android:parentActivityName=".pantallas.AcercaDe"/>
        <activity
            android:name=".pantallas.PantallaGestionarPermisos"
            android:exported="false"
            android:parentActivityName=".pantallas.AcercaDe"/>
        <activity
            android:name=".pantallas.PantallaNotificaciones"
            android:exported="false"
            android:parentActivityName=".pantallas.AcercaDe"/>
        <activity
            android:name=".pantallas.PantallaRegistro"
            android:exported="false"
            android:parentActivityName=".pantallas.AcercaDe"/>
        <activity
            android:name=".pantallas.PantallaPrincipal"
            android:exported="false"
            android:parentActivityName=".pantallas.AcercaDe"/>
        <activity
            android:name=".pantallas.MenuInicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>